<h1>Feelings</h1>

<% @feelings.each do |feeling| %>
<div class="card-feeling">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-feeling-infos">
    <h2><%= feeling.title %></h2>
    <h3><%= feeling.category %></h3>
    <p><%= feeling.description %></p>
    <% end %>
  </div>
</div>
