<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpeg' %>);">
  <div class="container">
    <h1><strong>Are you overwhelmed by feelings?</strong></h1>
    <p>Sell them to those in need!</p>
    <div class="d-flex justify-content-center">
      <a class="btn btn-light " href="#">Become a seller</a>
    </div>
  </div>
</div>
