<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'banner.jpeg' %>);">
  <div class="container">
    <h1><strong>Are you overwhelmed by feelings?</strong></h1>
    <p>Sell them to those in need!</p>
    <div class="d-flex justify-content-center">
      <%= link_to 'Become a seller', new_user_registration_path, class: "btn btn-light" %>
    </div>
  </div>
</div>
