<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'Hamlet.jpg' %>);">
  <div class="container">
    <h1><strong>Browse all emotions</strong></h1>
    </div>
  </div>
</div>
