<div class="navbar navbar-light navbar-lewagon d-flex justify-content-between border-bottom shadow-sm bg-white rounded">

      <%= link_to root_path do %>
     <%= image_tag "Logo.png", alt: "Inside Out", class: "navbar-brand" %>
  <% end %>

    <i class="fas fa-user avatar" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>

</div>
