
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner pl-5 pr-5 pb-5">
    <div class="carousel-item active">
      <div class="cards-wrapper">
      <div class="card">
        <%= image_tag "Pinocho.png", alt: "Pinocchio", class: "avatar-bordered mt-4 ml-4" %>
        <div class="card-body">
          <i class="fas fa-quote-right"></i>
          <h5 class="card-title">Pinocchio</h5>
          <p class="card-text">No one ever questions if I have real emotions anymore, because I buy them.</p>
        </div>
      </div>
      <div class="card d-none d-md-block">
        <%= image_tag "Snow White Queen.jpeg", alt: "Snow White Queen", class: "avatar-bordered mt-4 ml-4" %>
        <div class="card-body">
          <i class="fas fa-quote-right"></i>
          <h5 class="card-title">The Queen</h5>
          <p class="card-text">I have no need for that stupid mirror now that I can rent confidence.</p>
        </div>
      </div>
      <div class="card d-none d-md-block">
        <%= image_tag "Norman Bates.png", alt: "Norman Bates", class: "avatar-bordered mt-4 ml-4" %>
        <div class="card-body">
          <i class="fas fa-quote-right"></i>
          <h5 class="card-title">Norman Bates</h5>
          <p class="card-text">My murderous impulses are gone thanks to Inside Out's happiness!</p>
        </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
