<h3 class="d-flex justify-content-center m-5"> What would you like to feel today?</h3>
<div class="container mb-5">

<div class="d-flex bd-highlight">
  <div class="p-2 flex-grow-1 bd-highlight">

        <%= form_tag feelings_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find an emotion"
        %>
  </div>
    <div class="p-2 bd-highlight">
              <div class="glow-on-hover p-0" style="border: 1px solid #CED4D9">
                <%= submit_tag "Search", class: "btn" %>
              </div>
        <% end %>
    </div>
  </div>
</div>
