  <h3 class="d-flex justify-content-center m-5"> What would you like to feel?</h3>
<div class="container">

<div class="d-flex justify-content-center m-5">
    <div class="col-10">
      <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="search-addon">
          <i class="fas fa-search"></i>
        </span>
      </div>
    </div>
  </div>
</div>
