<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Your booking has been saved !</h1>
    <div class="Bookin info">
      <%= @booking.check_in %>
      <%= @booking.check_out %>
      <% @booking.total_price %>
    </div>
  </div>

</div>
