<%= render './partials/carousel' %>
<%= render './partials/search' %>
<%= render './partials/banner' %>
<h3 class="d-flex justify-content-center m-5"> What our customers are saying...</h3>
<%= render './partials/reviews' %>
