.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

@media only screen and (max-width: 600px) {
.cards {
grid-template-columns: 1fr 1fr;
  }
}

.card-product img {
  height: 10em;
  object-fit: cover;
}

.profile-card {
  background: white;
  padding: 31px 88px;
  position: fixed;
  border-radius: 5px;
  box-shadow: 0 0 40px #46637738;
  top: 130px;
  .title {
    text-transform: uppercase;
    letter-spacing: 3px;
    opacity: .5;
  }
  img {
    margin-bottom: 10px;
  }
  i {
    color: #3389c6;
  }
}

.profile-glow {
  box-shadow: 0 0 40px lightblue;
    width: 100%;
    text-align: center;
    margin-top: 31px;
}

.card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.card-product-infos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards a {
 text-decoration:none;
}

.card-info {
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards a {
  color: black!important;
}

.cards a:hover {
  color: black!important;
}
